# Get Results generated from the Survey Part 1

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Results from Part 1 - For IT Professionals

In [2]:

df_results = pd.read_csv(filepath_or_buffer=f"../2-data/survey_people.csv", sep=",", encoding="latin1")

df_results.to_excel(f'part1_results_people.xlsx', index=False)
df_results

,id,skills,skills-want,YearsCodePro
0,1,Java;JavaScript;Python;SQL;MySQL;SQLite;Node.j...,Dart;Java;SQL;MySQL;SQLite,3.0
1,2,C++;HTML/CSS;Java;JavaScript;PHP;Python;TypeSc...,HTML/CSS;JavaScript;TypeScript;AWS;Firebase;Go...,4.0
2,3,C++;HTML/CSS;Java;PHP;Python;SQL;MariaDB;MySQL...,Python;MySQL;SQLite;Unity 3D;Unreal Engine,4.0
3,4,HTML/CSS;JavaScript;Kotlin;TypeScript;AWS;Fire...,HTML/CSS;JavaScript;TypeScript;AWS;Firebase;An...,2.0
4,5,C#;Java;JavaScript;PHP;PowerShell;Python;R;SQL...,Python;R;SQL;Microsoft SQL Server;MySQL;Oracle...,9.0
5,6,MATLAB;Python;R;SQL;Swift;Cassandra;CouchDB;Ma...,Python;Microsoft SQL Server;MongoDB;Neo4j;AWS;...,1.0
6,7,Bash/Shell;PowerShell;Python;Scala;SQL;MariaDB...,Python;R;Scala;Microsoft SQL Server;MongoDB;Ne...,12.0
7,8,Bash/Shell;C#;C++;Java;PowerShell;Python;R;Sca...,C#;Python;SQL;Cassandra;MariaDB;Microsoft SQL ...,6.0
8,9,Assembly;Bash/Shell;C#;C++;Go;HTML/CSS;Java;Ja...,C#;Go;HTML/CSS;Java;JavaScript;PowerShell;Pyth...,0.0
9,10,MATLAB;Python;R;SQL;Microsoft SQL Server;Micro...,C++;Python;Scala;DynamoDB;MongoDB;MySQL;Oracle...,1.5
10,11,Python;SQL;Microsoft SQL Server;MySQL;Microsof...,Python;SQL;Microsoft SQL Server;MySQL;PostgreS...,2.0
11,12,Assembly;Bash/Shell;C;C#;C++;HTML/CSS;Java;Jav...,C++;Python;MySQL;Microsoft Azure;Keras;NumPy;Q...,5.0
12,13,Python;SQL;Microsoft SQL Server;MySQL;Microsof...,Python;Microsoft SQL Server;MySQL;Microsoft Az...,5.0
13,14,Python;SQL;Microsoft SQL Server;MySQL;ASP.NET;...,R;DynamoDB;MongoDB;SQLite;AWS;Microsoft Azure,4.0
14,15,Go;Java;JavaScript;MySQL;PostgreSQL;Google Clo...,Java;TypeScript;DynamoDB;Microsoft SQL Server;...,6.0
15,16,Bash/Shell;JavaScript;Python;SQL;DynamoDB;Mong...,Kotlin;Ruby;Rust;Redis;Google Cloud;Django;Fla...,11.0
16,17,Bash/Shell;C#;C++;HTML/CSS;JavaScript;PHP;Powe...,Bash/Shell;C#;JavaScript;PowerShell;SQL;TypeSc...,10.0
17,18,C;Go;HTML/CSS;Java;JavaScript;Kotlin;Lua;MATLA...,C#;HTML/CSS;JavaScript;Python;Rust;TypeScript;...,2.0
18,19,MATLAB;Python;SQL;Microsoft SQL Server;Google ...,SQL;Microsoft Azure,2.0
19,20,Bash/Shell;C;HTML/CSS;Java;JavaScript;MATLAB;P...,Bash/Shell;Go;Java;JavaScript;Python;Rust;SQL;...,2.0

# Results from Part 1 - For Roles

In [3]:
df_results = pd.read_csv(filepath_or_buffer=f"../2-data/survey_roles.csv", sep=",", encoding="latin1")

df_results.to_excel(f'part1_results_roles.xlsx', index=False)
df_results

,id,skills,explevel,name
0,11,Bash/Shell;PowerShell;Python;R;SQL;Microsoft S...,Senior,Data Engineer
1,12,Bash/Shell;PowerShell;SQL;Microsoft SQL Server...,Associate,DevOps Engineer
2,13,HTML/CSS;JavaScript;Python;SQL;MySQL;PostgreSQ...,Associate,Full Stack Developer
3,14,Bash/Shell;PowerShell;SQL;Microsoft SQL Server...,Senior,Database Administrator
4,15,Python;R;Scala;SQL;MongoDB;MySQL;AWS;Google Cl...,Senior,Data Scientist
5,21,C#;Kotlin;Python;SQL;PostgreSQL;.NET;Apache Ka...,Associate,Software Engineer
6,22,JavaScript;PostgreSQL;jQuery;React.js;React Na...,Associate,Software Engineer - Frontend
7,23,HTML/CSS;JavaScript;PostgreSQL;Angular.js;jQue...,Senior,Senior Software Engineer - Frontend
8,24,C#;Kotlin;Python;Rust;Microsoft SQL Server;Pos...,Senior,Senior Software Engineer
9,25,C#;Java;JavaScript;Kotlin;Python;Rust;SQL;Mong...,Architect,Software Architect
10,31,Clojure;Go;Java;Python;Microsoft SQL Server;Mo...,Senior,Development manager
11,32,Java;JavaScript;Objective-C;SQL;Swift;VBA;IBM ...,Senior,Support Team Manager
12,33,C#;Java;JavaScript;Objective-C;SQL;Swift;IBM D...,Senior,Support Engineer
13,34,C#;HTML/CSS;Java;SQL;Microsoft SQL Server;Orac...,Junior,Support Engineer
14,35,C;C++;Go;Java;JavaScript;Kotlin;SQL;Swift;Type...,Senior,Senior Developer
15,41,C#;PowerShell;Python;SQL;Cassandra;MariaDB;Mic...,Associate,Data engineer
16,42,Kotlin;Python;R;SQL;Cassandra;Elasticsearch;Mi...,Associate,Data scientist
17,43,SQL;Cassandra;Microsoft SQL Server;Oracle;Post...,Associate,Power BI Developer
18,44,Python;SQL;Microsoft SQL Server;Microsoft Azur...,Junior,Junior Data engineer
19,45,PowerShell;SQL;Microsoft SQL Server;Microsoft ...,Junior,Junior Power BI Developer